SpeciesConfig (
    organs : {
        Stem : OrganConfig (
            tissues : {
                Meristem : TissueConfig (
                    max_cell_volume : 20.0,
                    auxin_production_rate : 0.0005,
                    auxin_inhibition_start : 0.8,
                    auxin_inhibition_slope : 0.1,
                    diffusion_factor: 0.0001,
                    growing_config : Some( GrowingConfig(
                        growing_direction : (0.0, 1.0, 0.0),
                        central_cell : None,
                        active_hormone_transport_rate: 0.0002,
                        divide_min_auxin: 0.8,
                        divide_min_volume_percent: 80.
                    ))
                ),
                Parenchyma : TissueConfig (
                    max_cell_volume : 20.0,
                    auxin_production_rate : 0.0,
                    auxin_inhibition_start : 0.8,
                    auxin_inhibition_slope : 0.1,
                    diffusion_factor: 0.0001
                )
            }
        )
    }
)
