SpeciesConfig (
    organs : {
        Stem : OrganConfig (
            tissues : {
                Meristem : TissueConfig (
                    max_cell_volume : 20.0,
                    auxin_production_rate : 0.0005,
                    growing_config : Some( GrowingConfig(
                        growing_direction : (0.0, 1.0, 0.0),
                        central_cell : None
                    ))
                ),
                Parenchyma : TissueConfig (
                    max_cell_volume : 20.0,
                    auxin_production_rate : 0.0,
                )
            }
        )
    }
)
